                <div>
                    <div class="single-recipe-line">
                        <div class="left-side">
                            <div class="left-side-dish-line-left">
                                <span class="dish-number">1.</span>
                            </div>
                            <div class="left-side-dish-line-right">
                                <div class="dish-description">
                                    <img class="clock-image" src="/assets/clockSmall.svg">
                                    <span class="cooking-time">Cookingtime: Variable</span>
                                </div>
                                <span class="dish-name">Pasta with spinach and cherry tomatoes</span>
                            </div>
                        </div>
                        <div class="right-side-recipe">
                            <span class="dish-tag-styling">Vegetarian</span>
                            <span class="dish-tag-styling">Quick</span>
                            <div class="like-count-container dish-favorite-styling">
                                <img src="/assets/favoriteSmall.svg">
                                <span class="like-count">66</span>
                            </div>
                        </div>
                    </div>
                </div>