<div class="whole-cookbook-slide">
    <div class="left-side-slide">
        <div class="left-upper-container">
            <img class="clock-image-slide" src="/assets/clockSmall.svg">
            <span class="cooking-time-span">Cooking-time: variable</span> 
        </div>
        <span class="recipe-name">Pasta with spinach and cherry tomatoes</span>
    </div>
    <div class="right-side-slide">
        <div class="right-upper-container">
            <img class="like-image-slide" src="/assets/favoriteSmall.svg">
            <span class="like-count-slide">86</span>
        </div>
    </div>

</div>