.whole.header {
 max-width: 1440px;
 height: 136px;
    // padding-top: 40px;
    // padding-right: 40px;
    // padding-left: 68px;

}


.headerTopMenuBar {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    // padding-top: 40px;
    // padding-right: 40px;
    // padding-left: 68px;

}