


.whole-cookbook-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.cookbook-upper-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
   

}

.arrow-span-container {
    display: flex;
    gap: 10px;
    padding-left: 68px;
}


.image-arrow-back {
    width: 20px;
}

.back-span {
    //font span
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0%;
   color: rgba(30, 85, 21, 1);
}



// .whole-cookbook-container {
//     display: flex;
//     flex-direction: column;
//     gap: 64px;
// }

.cookbook-banner-container{
   padding-left: 68px;
   padding-right: 40px;


}