.recipe-details-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  padding-right: 65px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.generate-recipe-button {
  border: none;
  background-color: transparent;
  display: flex;
  padding-top: 16px;
  padding-right: 96px;
  padding-bottom: 16px;
  padding-left: 26px;
  border-radius: 5px;
  gap: 10px;
}

.generate-recipe-span {
  color: #396039;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}

.recipe-results-button {
  background-color: transparent;
  border: none;
}

.content-part {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.recipe-info-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 48px;
  padding-bottom: 40px;
  padding-left: 48px;
  background-color: rgba(250, 240, 230, 0.3);
  border-radius: 20px;
  border: 4px solid;
  border-color: linen;
}

.recipe-info-container-top {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 20px;
  background-color: linen;
}

.recipe-info-container-top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cooking-time-clock {
  width: 20px;
  height: 20px;
}

.container-cooking-persons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.cook-dummy-image-one {
  width: 27.5px;
  height: 22px;
}

.cook-dummy-image-two {
  width: 27.5px;
  height: 22px;
}

.cooks-container {
  display: flex;
}

.recipe-title-span {
  color: #1e5515;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0%;
}

.cookbook-link-container {
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(57, 96, 57, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.description-cookbook-link {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
}

.button-cookbook-link {
  color: linen;
  background-color: #1e5515;
  padding-top: 16px;
  padding-right: 26px;
  padding-bottom: 16px;
  padding-left: 26px;
}

.cookbook-button-span {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
}
