<div class="recipe-details-page">
    <div class="above-content">
        <app-header-top-green></app-header-top-green>
        <!-- <button class="recipe-results-button"><img src="/assets/arrowBackGreen.svg"><span>Recipe Results</span></button> -->

    </div>
    <div class="recipe-details-wrapper">


        <div class="content-part">
            <div class="recipe-info-container">
                <div class="recipe-info-container-top">
                    <div class="recipe-info-container-top-left">
                        <div>
                            <img class="cooking-time-clock" src="/assets/clockGreen.svg">
                            <span class="cooking-time-span">Cooking time: Variable</span>
                        </div>
                        <span class="recipe-title-span">Pasta with spinach and cherry tomatoes</span>
                        <div class="container-cooking-persons">
                            <span class="cooking-person span">Cooking Persons: Variable</span>
                            <div class="cooks-container">
                                <div class="cook-dummy-container">
                                    <img class="cook- dummy-image-one" src="/assets/imageChefOne.svg">
                                    <span class="cooks-dummy-span">Chef 1</span>
                                </div>
                                <div>
                                    <img class="cook-dummy-image" src="/assets/imageChefTwo.svg">
                                    <span class="cooks-dummy-span-two">Chef 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recipe-info-container-top-right">
                        <div class="top-right-first-line-dummy">
                            <span class="menu-category">Vegetarian</span>
                            <span class="menu-category">Quick</span>
                            <div class="menu-category fav-category">
                                <img>
                                <span class=""></span>
                            </div>
                        </div>
                        <div>
                            <span></span>
                            <div>
                                <div>
                                    <span></span>
                                    <span></span>

                                </div>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>>
                    </div>
                </div>
            </div>

            <div class="cookbook-link-container">
                <span class="description-cookbook-link">Find inspiration for your next culinary adventure!</span>
                <button class="button-cookbook-link"><span class="cookbook-button-span">Cookbook</span></button>

            </div>

        </div>

        <div class="button-container">
            <button class="generate-recipe-button"><span class="generate-recipe-span">Generate new recipe</span><img
                    class="" src="/assets/arrowForwardGreen.svg"></button>
        </div>

    </div>

</div>