.recipe-details-wrapper {
    display: flex;
    flex-direction: column;
}




.button-container {
    display: flex;
    justify-content: flex-end;

}

.generate-recipe-button {

    border: none;
    background-color: transparent;
    display: flex;
    padding-top: 16px;
    padding-right: 96px;
    padding-bottom: 16px;
    padding-left: 26px;
    border-radius: 5px;
    gap: 10px;


}





.generate-recipe-span {
    color: rgba(57, 96, 57, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;


}

.recipe-results-button {
    background-color: transparent;
    border: none;
}


.content-part{

}

.recipe-info-container-top{

}

.cooking-time-clock{

}

.cooking-time-span{

}

.recipe-title-span{

}




.recipe-title-span{

}

.cooking-person span{
    
}