<div class="recipe-details-page">
    <div class="above-content">
        <app-header-top-green></app-header-top-green>
        <!-- <button class="recipe-results-button"><img src="/assets/arrowBackGreen.svg"><span>Recipe Results</span></button> -->

    </div>
    <div class="recipe-details-wrapper">


        <div class="content-part">
            <div class="recipe-info-container">
                <div class="recipe-info-container-top">
                    <div class="recipe-info-container-top-left">
                        <div class="cooking-clock-container">
                            <img class="cooking-time-clock" src="/assets/clockGreen.svg">
                            <span class="cooking-time-span">Cooking time: Variable</span>
                        </div>
                        <span class="recipe-title-span">Pasta with spinach and cherry tomatoes</span>
                        <div class="container-cooking-persons">
                            <span class="cooking-person span">Cooking Persons: Variable</span>
                            <div class="cooks-container">
                                <div class="cook-dummy-container">
                                    <img class="cook- dummy-image-one" src="/assets/imageChefOne.svg">
                                    <span class="cooks-dummy-span">Chef 1</span>
                                </div>
                                <div>
                                    <img class="cook-dummy-image" src="/assets/imageChefTwo.svg">
                                    <span class="cooks-dummy-span-two">Chef 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recipe-info-container-top-right">
                        <div class="top-right-first-line-dummy">
                            <span class="menu-category">Vegetarian</span>
                            <span class="menu-category">Quick</span>
                            <div class="menu-category fav-category">
                                <img class="fav-image" src="/assets/favoriteGreen.svg">
                                <span class="fav-category-span">Variable</span>
                            </div>
                        </div>
                        <div class="nutrition-and-description-container">
                            <span class="nut-info-span">Nutritional information</span>
                            <div class="nutrition-information-container">
                                <div class="nutrition-container">
                                    <span>Energie</span>
                                    <span>630kcal</span>

                                </div>
                                <div class="nutrition-container">
                                    <span>Protein</span>
                                    <span>18g</span>
                                </div>
                                <div class="nutrition-container">
                                    <span>Fat</span>
                                    <span>24g</span>
                                </div>
                                <div class="nutrition-container">
                                    <span>Carbs</span>
                                    <span>50g</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="recipe-info-container-below">
                    <div class="recipe-banner-div">
                        <img class="recipe-banner" src="/assets/ingredientsBanner.svg">
                    </div>
                    <div class="container-below-ingredients-banner">
                        <div class="your-ingredients-container">
                            <span class="your-ingredients-title-span">Your ingredients</span>
                            <div></div>
                        </div>
                        <div class="extra-ingredients-container">
                            <span class="extra-ingredients-title-span">Extra ingredients</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/assets/directionsBanner.svg">
                        </div>
                    </div>

                </div>
                <div class="feedback-container">
                    <span class="find-inspiration-span">Just finished this meal?</span>
                    <span class="give-heart-span">Give it a heart, so that the others know this is delicious</span>
                    <img class="like-heart-large" src="/assets/likeHeartLarge.svg">
                </div>
            </div>



            <div class="cookbook-link-container">
                <span class="description-cookbook-link">Find inspiration for your next culinary adventure!</span>
                <button class="button-cookbook-link"><span class="cookbook-button-span">Cookbook</span></button>

            </div>

        </div>

        <div class="button-container">
            <button class="generate-recipe-button"><span class="generate-recipe-span">Generate new recipe</span><img
                    class="" src="/assets/arrowForwardGreen.svg"></button>
        </div>

    </div>

</div>