<div class="imprint-wrapper">
    <div class="imprint-container" id="imprint-section-path">
        <h1>Imprint</h1>
        <h3>Information according to § 5 TMG</h3>
        <div class="contact-data-div">
            <span>Rolf Bethmann</span>
            <span>Tränkestraße 8</span>
            <span>38889 Blankenburg</span>
            <span>kontakt(at)rolf-bethmann.de</span>
        </div>
        <h3>Responsible for coentent according to § 55 Abs. 2 RStV</h3>
        <div class="contact-data-div">
            <span>Rolf Bethmann</span>
            <span>Tränkestraße 8</span>
            <span>38889 Blankenburg</span>
        </div>
        <h3>Liability for content</h3>
        <p>As a service provider, I am responsible for my own content on these pages in accordance with § 7 Abs. 1 TMG and general laws . 
            However, according to § 8 to 10 TMG, I am not obliged to monitor transmitted or stored external information or to investigate circumstances that indicate illigal activity.
        </p>
        <p> Obligations to remove or block the use of information under general laws remain unaffected.However, liability in this regard is only possible from the time of knowledge of a specific legal violation. 
            If I become aware of any such legal violations, I will remove this content immediatly.
        </p>
        <h3>Liability for Links</h3>
        <p>My website contains links to external third-party websites, over whose content I have no influence. 
            Therefore, I cannot assume any liability for these external contents. 
            The respective provider or operator of the linked sites is always responsible for their content. 
            The linked pages were checked for possible legal violations at the time of linking. 
            Illegal content was not recognizable at that time.
        </p>
        <p>However, permanent monitoring of the linked pages is not reasonable without concrete evidence of a legal violation. 
            If I become aware of any legal violations, I will remove such links immediately.
        </p>
        <h3>Copyright</h3>
        <p>The content and works created by me on these pages are subject to German copyright law. 
            The reproduction, editing, distribution, and any kind of use beyond the limits of copyright law require the written consent of the respective author or creator. 
            Downloads and copies of this site are only permitted for private, non-commercial use.
        </p>
        <p>If content on this site was not created by me, the copyrights of third parties are respected. In particular, third-party content is marked as such. 
            Should you nevertheless become aware of a copyright infringement, please inform me accordingly. 
            If I become aware of any legal violations, I will remove such content immediately. 
        </p>
        <h3>Contact</h3>
        <div class="contact-data-div">
            <span>Rolf Bethmann</span>
            <span>Tränkestraße 8</span>
            <span>38889 Blankenburg</span>
            <span>kontakt(at)rolf-bethmann.de</span>
        </div>
        <p>Last updated<i>28.2.2026</i></p>
    </div>
</div>