<!--country dummy page -->

<div class="recipe-details-page">
    <div class="above-content">
        <app-header-top-green></app-header-top-green>

        <button class="recipe-results-button">
            <img src="/assets/arrowBackGreen.svg"><span class="back-to-recipes-span">Recipe Results</span>
        </button>

    </div>

    <div class="country-page-content">
        <div class="generate-button-container">
            <button class="generate-recipe-button">
                Generate a recipe
            </button>
        </div>
        <div class="main-content">
            <div class="banner-section">
                <img class="cuisine-banner" src="/assets/italianCuisineBanner.svg">
            </div>
            <div class="main-part">
                <!-- fortesting inserted lines -->
                <div class="single-recipe-line">
                    <div class="left-side">
                        
                    </div>
                    <div class="right-side-recipe">
                        <span class="dish-tag-styling"></span>
                        <span class="dish-tag-styling"></span>
                        <div class="like-count-container dish-tag-styling">
                            <img src="/assets/favoriteSmall.svg">
                            <span class="like-count"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-part">

            </div>
        </div>
    </div>

</div>