.recipe-results-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding-bottom: 64px;
    padding-left: 64px;
}

.back-to-recipes-span {
    //font quicksand
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0%;
    line-height: 10px;
    color: rgba(30, 85, 21, 1);
}


.country-page-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.generate-recipe-button {
    //font quicksand
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    background-color: rgba(57, 96, 57, 1);
    color: rgba(250, 240, 230, 1);
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
}

.generate-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 146px;

}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.cuisine-banner {
    max-width: 1143px;
}

.main-part{
    display:flex;
    flex-direction: column;
    gap: 8px;
}


