<div class="landing-page-whole-container">
    <app-header-top></app-header-top>


    <div class="landing-page-container">


        <div class="landingpage-left-side-container">
            <div class="title-description-container">
                <span class="title-description">AI-Powered recipe generator</span>
                <span class="main-title">Code à Cuisine</span>
                <button class="get-started-button"><span class="get-started-span">Get started</span></button>
            </div>



            <div class="landing-page-second-container">
                <span class="hungry-for-insperation-span">Hungry for inspiration?</span>
               <div class="test">
                <button class="go-to-cookbook-button">
                    <span class="go-to-cookbook-span">Go to cookbook</span>
                    <img src="/assets/ArrowRightLandingPage.svg">
                </button>
                </div>
            </div>

        </div>

        <div class="landingpage-dishes-container">
            <img class="dish-size" src="/assets/landingPageDish1.svg">
            <img class="dish-landing-page dish-size" src="/assets/landingPageDish2.svg">
            <img class="dish-landing-page dish-size" src="/assets/landingPageDish3.svg">
        </div>

    </div>
</div>