* {
  color: #F5F5DC;
}

.landing-page-whole-container {
  background-color: #10310B;
  height: 100dvh;
  padding-left: 65px;
  padding-right: 40px;
  padding-top: 40px;
}

.landing-page-container {
  display: flex;
  justify-content: space-between;
}

.landingpage-left-side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page-second-container {
  display: flex;
}

.landingpage-dishes-container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dish-landing-page {
  margin-top: -170px;
}

.title-description-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.title-description {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

.main-title {
  font-style: bold;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 104px;
}

.get-started-button {
  background-color: #FAF0E6;
  padding-top: 16px;
  padding-right: 26px;
  padding-bottom: 16px;
  padding-left: 26px;
  display: flex;
  align-self: flex-start;
}

.get-started-span {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #008000;
}

.go-to-cookbook-button {
  background-color: transparent;
  border: none;
}

.go-to-cookbook-span {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
}

.hungry-for-insperation-span {
  font-weight: 500;
  font-size: 32px;
  line-height: 104%;
  letter-spacing: 0%;
}

.landingpage-dishes-container {
  margin-top: -176px;
  overflow: hidden;
}
