* {
  color: #F5F5DC;
}

.landing-page-container {
  height: 100dvh;
  background-color: #10310B;
}

.title-description {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

.main-title {
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 104px;
}

.landing-page-second-container {
  display: flex;
}

.get-started-button {
  background-color: #FAF0E6;
  padding-top: 16px;
  padding-right: 26px;
  padding-bottom: 26px;
  padding-left: 16px;
  display: flex;
}

.get-started-span {
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #008000;
}

.hungry-for-insperation-span {
  font-weight: 500;
  font-size: 32px;
  line-height: 104%;
  letter-spacing: 0%;
}
