* {
    color: #F5F5DC;

}



.landing-page-container {
    height: 100dvh;
    background-color: #10310B;
}


.title-description-container{

}

.title-description{

}

.main-title{

}

.landing-page-second-container{

}

.hungry-for-insperation-span{
    
}



.go-to-cookbook-span {

    color: #008000;
}