<div class="landing-page-container">
    <div class="title-description-container">
        <app-header-top></app-header-top>
        <span class="title-description">AI-Powered recipe generator</span>
        <span class="main-title">Code à Cuisine</span>
    </div>

    <button class="get-started-button"><span class="get-started-span">Get started</span></button>

    <div class="landing-page-second-container">
        <span class="hungry-for-insperation-span">Hungry for inspiration?</span>
        <button class="go-to-cookbook-button">
            <span class="go-to-cookbook-span">Go to cookbook</span>
            <img src="/assets/ArrowRightLandingPage.svg">
        </button>
    </div>
</div>