<div class="generate-recipe-page">
    <app-header-top-green></app-header-top-green>
    <div class="generate-recipe-box">
        <span class="heading-generate-recipe">Generate recipe</span>
        <span class="description">Got random stuff in your kitchen? Pop it in - we've got the perfect recipe
            waiting</span>

        <div class="container-for-lists">
            <div class="ingredients-input-heading">
                <span>Ingredient</span>
                <span>Serving size</span>
            </div>
            <div><input>
                <input>

                <select id="fruits" name="fruits">
                    <option value="apple">Apfel</option>
                    <option value="banana">Banane</option>
                    <option value="cherry">Kirsche</option>
                </select>
            </div>
            <div class="ingredients-output-list"></div>

        </div>
    </div>
</div>