<div class="generate-recipe-page">
    <app-header-top-green></app-header-top-green>
    <div class="generate-recipe-box">
        <span class="heading-generate-recipe">Generate recipe</span>
        <div class="inner-column">
            <span class="description">Got random stuff in your kitchen? Pop it in - we've got the perfect recipe
                waiting</span>

            <div class="container-for-lists">
                <div class="ingredients-left-side">
                    <div class="ingredients-input-left-side">
                        <span class="heading-ingredients-input-left-side">Ingredients</span>
                        <input type="text" [(ngModel)]="inputIngredient" placeholder="Etwas eingeben..."
                            class="ingredients-input-styling">
                    </div>
                    <div class="size-input-left-side">
                        <span class="serving-size-styling">Serving size</span>
                        <div class="size-input-second-line">
                            <input type="number" min="0" [(ngModel)]="inputAmount" placeholder="100"
                                class="number-size-ingredients">
                            <select [(ngModel)]="inputUnit" class="drop-down-ingredients" id="ingredientAmount"
                                name="ingredientAmount">

                                <option value="gram">gram</option>
                                <option value="ml">ml</option>
                                <option value="piece">piece/s</option>

                            </select>
                            <img class="add-ingredient-button" (click)="addItem()" src="/assets/addImage.svg">

                        </div>
                    </div>


                </div>

                <div class="ingredients-output-list">
                    <span class="ingredient-list-right-heading">
                        List of your ingredient
                    </span>

                    <ul class="ingredients-list">
                        @for (item of items; track $index; let i = $index) {
                        <li>
                            <div class="ingredient-element-container-right">
                                <div class="output-ingredients-style">
                                    {{ item.amount }} {{ item.unit }} {{ item.name }}
                                </div>


                                <div class="delete-add-container">
                                    <img class="delete-add-button" src="/assets/editGenerateRecipe.svg">
                                    <img class="delete-add-button" (click)="deleteIngredient(i)"
                                        src="/assets/deleteButton.svg">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="ingredient-edit">
                                <input>
                                <select [(ngModel)]="inputUnit" class="drop-down-ingredients" id="ingredientAmount"
                                    name="ingredientAmount">

                                    <option value="gram">gram</option>
                                    <option value="ml">ml</option>
                                    <option value="piece">piece/s</option>

                                </select>
                                <input>
                            </div>

                        </li>

                        }
                    </ul>
                </div>

            </div>
            <div class="flex-end-next-coontainer" routerLink="/choosePreference"><button class="next-button ">Next
                    step</button>
            </div>

        </div>
    </div>