<div class="preference-page-container">
    <div class="preferences-upper-container">
        <app-header-top-green></app-header-top-green>
        <div class="arrow-span-container">
            <img class="image-arrow-back" src="/assets/arrowBackGreen.svg">
            <span class="back-span">ingredients</span>
        </div>
    </div>

    <div class="content-container preferences">

        <div class="">
            <span>Choose your preferences</span>
        </div>
        <div class="content-over-box">
            <div class="left-side">
                <span></span>
                <div class="portion-choosing-line">
                    <img class="minus button-image" src="">
                    <span class="-portions-number">1</span><!--just a random number as current placeholder-->
                    <span class="portion-span">Portions</span>
                    <img class="add-button-image" src="">
                </div>
            </div>
            <div class="right-side">
                <span class="how-many-span">How many are cooking</span>
                <div class="add-person-line">
                    <img class="minus button-image" src="">
                    <span class="people-number">1</span><!--just a random number as current placeholder-->
                    <span class="portion-span">People</span>
                    <img class="add-button-image" src="">
                </div>
            </div>
        </div>
        <div class="green-central-box">
            <div class="cooking-time-container">
                <div class="cooking-tinme-heading">
                    <img class="cooking-time-clock-image" src="">
                    <span>Cooking time</span>
                    <div class="time-buttons">
                        <div class="quick-container">
                            <span></span>
                        </div>
                        <div class="medium-container"><span></span></div>

                        <div class="complex-container">
                            <span></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="cuisine-box">
                <div class="cuisine-heading-container">
                    <img>
                    <span class=""></span>
                </div>
            </div>



        </div>
        <div class="button-adjustment-div">
            <button class="generate-recipe-button"><span>Generate a recipe</span></button>
        </div>

    </div>





</div>