.back-span {
    //font quicksand
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0%;
   color: rgba(30, 85, 21, 1);
}

.arrow-span-container {
    display: flex;
    gap: 10px;
    padding-left: 68px;
}


.image-arrow-back {
    width: 20px;
}

.preference-page-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.preferences-upper-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
   

}