.back-span {
    //font quicksand
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0%;
    color: rgba(30, 85, 21, 1);
}

.arrow-span-container {
    display: flex;
    gap: 10px;
    padding-left: 68px;
}


.image-arrow-back {
    width: 20px;
}

.preference-page-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.preferences-upper-container {
    display: flex;
    flex-direction: column;
    gap: 32px;


}

.content-over-box {
    display: flex;
    justify-content: space-between;
    gap: 120px;

}


.green-central-box {}


.content-container-preferences {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

}


.choose-preference-heading {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 100%;
    color: rgba(16, 49, 11, 1);

}


.portions-cooking-style {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0%;
    line-height: 20px;
    color: rgba(16, 49, 11, 1);
}

.button-preference-cook-choosing {
    width: 20px;
    height: 20px;

    &:active {
        scale: (1.1);
    }
}

.portions-people-number {
    background-color: rgba(57, 96, 57, 0.2);
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.portion-choosing-line,
.add-person-line {
    display: flex;
    gap: 8px;



}

.category-image-style {

    width: 20px;
    height: 20px;

}

.preference-category-headingg {
    //font quicksand
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}


.cooking-option-style {
    // font quicksand
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(30, 85, 21, 1);
}

.cooking-time-style {
    // font quicksand
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0%;
    color: rgba(30, 85, 21, 1);

}

.category-heading-container{
    
}