<div class="pop-up-inner-wrapper">
    <div class="close-line-div">
        <img class="close-button-style" src="/assets/closeButton.svg">
    </div>
    <div class="pop-up-content-div">
        <span class="pop-up-heading">
            Ups! Not quite enough...
        </span>
        <span class="pop-up-description-text">It looks like somme ingredientquantities aren't sufficient for your
            selected servings. Please add or adjust quantities and try again.</span>
        <div class="back-to-ingredients-container">
            <span class="">Go back to ingredients</span>
            <img src="/assets/Arrow_right.svg">
        </div>
    </div>

</div>