* {
    color: white;
}

.pop-up-inner-wrapper {
    background-color: rgba(57, 96, 57, 1);
    border-radius: 30px;

    width: 567px;
    height: 345px;
    padding-top: 44px;
    padding-right: 64px;
    padding-bottom: 64px;
    padding-left: 64px;


    display: flex;
    flex-direction: column;

}

.pop-up-heading{
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
}


.close-line-div {
    display: flex;
    justify-content: flex-end;
}

.pop-up-content-div {
    display: flex;
    flex-direction: column;
    gap: 24px;

}


.back-to-ingredients-container {
    display: flex;
    // flex-direction: row;
    gap: 10px;
    border-radius: 5px;
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
}

.close-button-style {
    width: 24px;
    height: 24px;
    color: rgba(250, 240, 230, 1);
}

.arrow-right-styling {

    width: 24px;

    color: rgba(250, 240, 230, 1);
}


.back-to-ingredients-span{
//font quicksand
        font-size: 18pxpx;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
}