<div class="whole-cookbook-banner">
    <div class="banner-left-container">
        <span class="cookbook-heading">Cookbook</span>
        <p class="cookbook-text-style">
            From quick bites to delights,
            explorethem all in our ultimate
            cookbook and get inspired for your next culanary adventure.
        </p>
    </div>

    <div class="banner-right-container">
        <div class="right-upper-line">
            <span>Most like recipes</span>
            <img class="like-image-cookbook" src="/assets/favorite_light_green.svg">
        </div>
        <div class="drag-area"></div>
    </div>


</div>